{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block jquery %}

<script type="text/JavaScript">
	$(function(){
		$("#searchBtn").click(function(){
			window.location.href='locationtweets?location='+$('#areas').val()+'&limit='+$("#limitIp").val();
		});
		$("#tBtn").click(function(){
			window.location.href='transporttweets?transport='+$('#transportSel').val()+'&limit='+$("#limitIp").val();
		});
		$("#sBtn").click(function(){
			window.location.href='servicetweets?service='+$('#serviceSel').val()+'&limit='+$("#limitIp").val();
		});
	});
</script>

{% endblock %}


{% block content%}


<div class="alert alert-success" role="alert">
This website can be viewed from <a href='http://www.chennairaintweets.com/'>www.chennairaintweets.com</a>. 
</div>


<div class="alert alert-warning" role="alert">
This site is regularly modified. So expect it go down for a couple of seconds every now and then.
</div>

<div style="text-align:center">
Limit the tweets to &nbsp;&nbsp; <input id="limitIp" value="1000"/>
</div>

<div class="row">
	<div class='col-md-4'>
		<br/>
		<h3>Location</h3>
		<br/>
		<select id="areas" class="form-control"> 
		{% for loc in locations %}
			<option value={{loc}}>{{loc}}</option>
		{% endfor %}
		</select>
		<br/>
		<br/>
		<div style="text-align:center;">
		<button id="searchBtn" type="button" class="btn btn-lg btn-primary">Search</button>
		</div>
		<br/>
	</div>
	<div class='col-md-4'>
		<br/>
		<h3>Transport</h3>
		<br/>
		<select id="transportSel" class="form-control"> 
		{% for t in transport %}
			<option value={{t}}>{{t}}</option>
		{% endfor %}
		</select>
		<br/>
		<br/>
		<div style="text-align:center;">
		<button id="tBtn" type="button" class="btn btn-lg btn-primary">Search</button>
		</div>
		<br/>
	</div>
	<div class='col-md-4'>
		<br/>
		<h3>Services</h3>
		<br/>
		<select id="serviceSel" class="form-control"> 
		{% for s in service%}
			<option value={{s}}>{{s}}</option>
		{% endfor %}
		</select>
		<br/>
		<br/>
		<div style="text-align:center;">
		<button id="sBtn" type="button" class="btn btn-lg btn-primary">Search</button>
		</div>
	</div>
</div>

<div class="row">
<div class='col-md-4'>
	<div class="page-header">
		<h1 align="center">Important Links</h1>
	</div>
  <div class="list-group">
  	<a href='https://docs.google.com/document/d/1kSfBOkvGhhun3TFUSiykPAabGPPXAbJOvuRZh_aBf5Q/edit' class="list-group-item">Master Helpline List</a>
	<a href="https://docs.google.com/spreadsheets/d/1rZc3e9scewKxbZBn0vfDqkxOTy_NJYUBSfsVPgnkmdY/htmlview?pli=1&sle=true#gid=0&vpid=A1" class="list-group-item">Shelter/Food/Help Spreadsheet</a>
	<a href="https://docs.google.com/spreadsheets/d/1tCRi8Dhb2Fxs-K_jvA4BsPk4Wd9pXFOuEgBgpecnirw/htmlview?sle=true#" class="list-group-item">Doctors Information</a>
	<a href="https://milaap.org/campaigns/Chennaifloods" class="list-group-item">Fund Raising</a>
	<a href="http://chennairains.org/" class="list-group-item">Crowdsourced website for accomodation</a>
	<a href="http://www.rapidresponse.org.in/donate.htm" class="list-group-item">Rapid Response Donation</a>
	<a href="http://www.worldvision.in/chennaifloods" class="list-group-item">World Vision</a>
	<a href="http://osm-in.github.io/flood-map/chennai.html#11/13.0000/80.2000/-30" class="list-group-item">Flood Map</a>
	<a href="https://www.gofundme.com/fundchennaislums" class="list-group-item">Fund Raiser For Chennai slums</a>
  </div>
</div>
<div class='col-md-8'>
	<div class="page-header">
		<h1 align="center">Hotline Numbers</h1>
	</div>
	<p style="text-align:center;">
	<a href="/hotlinenumber?limit=1000">Click here</a> or in the list for more hotline numbers
	</p>
  <div class="list-group">
  	{% for tweet in hotlineTweets %}
		<a href="/hotlinenumber?limit=1000" class="list-group-item">{{tweet.text}}</a>
	{% endfor %}
  </div>
</div>
</div>
{% endblock %}
