{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block jquery %}

<script type="text/JavaScript">
	$(function(){
		$("#searchBtn").click(function(){
			window.location.href='locationtweets?location='+$('#areas').val();
		});
		$("#tBtn").click(function(){
			window.location.href='transporttweets?transport='+$('#transportSel').val();
		});
		$("#sBtn").click(function(){
			window.location.href='servicetweets?service='+$('#serviceSel').val();
		});
	});
</script>

{% endblock %}


{% block content%}
      

<div class="row">
	<div class='col-md-4'>
		<br/>
		<h3>Location</h3>
		<br/>
		<br/>
		<select id="areas" class="form-control"> 
		{% for loc in locations %}
			<option value={{loc}}>{{loc}}</option>
		{% endfor %}
		</select>
		<br/>
		<br/>
		<div style="text-align:center;">
		<button id="searchBtn" type="button" class="btn btn-lg btn-primary">Click</button>
		</div>
		<br/>
	</div>
	<div class='col-md-4'>
		<br/>
		<h3>Transport</h3>
		<br/>
		<br/>
		<select id="transportSel" class="form-control"> 
		{% for t in transport %}
			<option value={{t}}>{{t}}</option>
		{% endfor %}
		</select>
		<br/>
		<br/>
		<div style="text-align:center;">
		<button id="tBtn" type="button" class="btn btn-lg btn-primary">Click</button>
		</div>
		<br/>
	</div>
	<div class='col-md-4'>
		<br/>
		<h3>Services</h3>
		<br/>
		<br/>
		<select id="serviceSel" class="form-control"> 
		{% for s in service%}
			<option value={{s}}>{{s}}</option>
		{% endfor %}
		</select>
		<br/>
		<br/>
		<div style="text-align:center;">
		<button id="sBtn" type="button" class="btn btn-lg btn-primary">Click</button>
		</div>
	</div>
</div>

<div class='col-md-8'>
	<div class="page-header">
		<h1 align="center">Important Links</h1>
	</div>
	<br/>
	<br/>
  <div class="list-group">
	<a href="https://docs.google.com/spreadsheets/d/1rZc3e9scewKxbZBn0vfDqkxOTy_NJYUBSfsVPgnkmdY/htmlview?pli=1&sle=true#gid=0&vpid=A1" class="list-group-item">Shelter/Food/Help Spreadsheet</a>
	<a href="https://milaap.org/campaigns/Chennaifloods" class="list-group-item">Fund Raising</a>
	<a href="http://chennairains.org/" class="list-group-item">Crowdsourced website for accomodation</a>
	<a href="http://www.rapidresponse.org.in/donate.htm" class="list-group-item">Rapid Response Donation</a>
	<a href="http://www.worldvision.in/chennaifloods" class="list-group-item">World Vision</a>
  </div>
</div>
{% endblock %}
